* {
  padding: 0% 0% 0% 2%;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0% 0%;
}

h1 {
  font-size: 3.5em;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 2em;
  color: gray;
}

table {
  width: 55%;
  justify-content: center;
  font-size: 1.5em;
  padding: 3px;
  background-color: white;
}

td {
  margin: 0px;
  padding: 5px;
  text-align: left;
}

#tr1 {
  background-color: orangered;
  border-collapse: collapse;
  margin: 1px;
  padding: 5px;
  border: 0px solid #808080;
  text-align: left;
  font-size: 1.5em;
}

body {
  background-image: url(/asserts/background-image1.png);
  background-repeat: no-repeat;
  background-position: right;
  right: 20px;
}

.table-container {
  font-size: 0.7em;
  display: flex;
}

a {
  color: blue;
  font: 15px solid;
  justify-content: left;
}

p {
  font: 15px solid;
  justify-content: left;
}

.footer {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  position: relative;
  top: 750px;
  margin-left: 80px;
  font-size: 18px;
  font-family: Nunito Sans;
  position: relative;
  top: 59px;
  margin-left: 20px;
  font-size: 18px;
  font-family: Nunito Sans;
  font-style: normal;
}
#tr2 {
  border: 1px solid gray;
}
